---
import { getImageSrc } from './getImageSrc';

interface Props {
  imageUrl: string;
  type: 'events' | 'stores';
  alt?: string;
}

const { imageUrl, type, alt } = Astro.props;

const imageSrc = getImageSrc(type, imageUrl);
---

<div class=`slide pl-4 ${type}`>
  <img
    width={200}
    height={200}
    src={imageSrc}
    alt={alt || ''}
    class='w-full rounded-xl'
  />
</div>

<style>
  .slide {
    --slide-items: 1;

    flex: 0 0 calc(100% / var(--slide-items));
    min-width: 0;

    @media (width >=768px) {
      --slide-items: 2;
    }

    @media (width >= 1024px) {
      --slide-items: 3;
    }

    &.stores {
      img {
        max-width: 250px;
        max-height: 100px;
        object-fit: contain;
      }

      @media (width >=768px) {
        --slide-items: 4;
      }

      @media (width >= 1024px) {
        --slide-items: 5;
      }
    }
  }
</style>
