---
import RightElement from '@components/common/RightElement.astro';
import { Image } from 'astro:assets';
import Text from '@images/hero-text.png';
import Button from '@components/common/Button.astro';
---

<section class='hero pt-32 pb-16 md:py-72 px-8 relative text-white'>
  <!-- overlay color secondary -->
  <div
    class='absolute inset-0 bg-gradient-to-b from-primary to-secondary mix-blend-multiply'
  >
  </div>
  <div class='relative z-10 container p-0 flex flex-col items-start gap-8'>
    <h1 class='text-6xl md:text-9xl font-title uppercase'>
      Un Lugar <strong class='block'>Especial</strong>
    </h1>
    <p class='md:text-2xl font-body max-w-[50ch]'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <Button variant='white' href='/'>Conoce más</Button>
  </div>
</section>

<style>
  .hero {
    background-image: url('../../images/TEST-bg-hero.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
</style>
