---
import Layout from 'src/layouts/Layout.astro';
import PageHero from '@components/common/PageHero.astro';
import ImageGrid from '@components/common/ImagesGrid.astro';

/* importing all images from the events folder */
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/images/events/*.{jpeg,jpg,png,gif}'
);
---

<Layout title='Eventos'>
  <PageHero title='Eventos' />
  <section>
    <div class='container'>
      <ImageGrid images={images} enableThreeColumns />
    </div>
  </section>
</Layout>
