---
interface Props {
  variant: 'primary' | 'secondary' | 'danger' | 'white';
  href: string;
  target?: '_blank' | '_self';
  class?: string;
}

const {
  variant = 'primary',
  href,
  class: className,
  target = '_self',
} = Astro.props;
let buttonClass = className;

const variantClasses: Record<string, string> = {
  white:
    'bg-white border-white text-secondary hover:bg-transparent hover:text-white',
  primary:
    'bg-primary text-white border-primary hover:bg-transparent hover:text-primary',
  secondary:
    'bg-secondary text-white border-secondary hover:bg-transparent hover:text-secondary', // TODO: Change this if necessary
  danger: 'bg-red-500 hover:bg-red-600', // TODO: Change this if necessary
};

if (variantClasses[variant]) {
  buttonClass += ` ${variantClasses[variant]}`;
}
---

<a
  href={href}
  target={target}
  class:list={buttonClass}
  class='cursor-pointer uppercase transition-colors border-2 bg-primary py-4 px-16 font-semibold no-underline focus:outline-none inline-block'
>
  <slot />
</a>
