---
import { getImage } from 'astro:assets';
import background from '@images/bg-shops.png';

const optimizedBackgroundImage = await getImage({ src: background });
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class='hero pt-32 pb-16 md:pt-56 md:pb-20 px-8 relative text-black'>
  <div
    class='relative z-10 container p-0 flex flex-col items-center text-center gap-8'
  >
    <h1 class='text-6xl md:text-9xl font-title uppercase'>
      {title}
    </h1>
  </div>
</section>
